[Unit]
Description=Check Old Sparky platform log sizes every 15 minutes

[Timer]
OnBootSec=15m
OnUnitActiveSec=15m
RandomizedDelaySec=5m
Persistent=true
AccuracySec=1m
Unit=deadlock-logrotate.service

[Install]
WantedBy=timers.target
